@{
  Layout = null;
}
@{
  @model LoginModel
}

<!doctype html>
<html lang="en">


<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="~/css/login.css">
  <!-- Bootstrap CSS -->
</head>


<body class="img js-fullheight" style="background-image:url(/images/illustration.png)">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">

        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4" style=" background-color: lightsteelblue;">
          <div class="login-wrap p-0">
            <h2 class="text-center">Let us help you access your account</h2>
            @using (Html.BeginForm())
            {
              <h3>
                @ViewBag.Err
                @ViewBag.Message
              </h3>

              <div>
                <p>
                  @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </p>
              </div>
              <p>Please <strong>Enter the Recovery Email Address</strong> </p>
              @*<form asp-antiforgery="true" method="post" class="signin-form" asp-action="Login" asp-controller="Account" name="login">*@
              <div asp-validation-summary="All" class="text-danger"></div>
              <div class="form-group">
                <input type="email" asp-for="UserName" class="form-control" name="EmailID" value="" placeholder="E-postadress" autofocus="true" />

              </div>


              <div class="form-group">
                <input type="submit" value="Fortsätt" class="btn btn-pill text-white btn-block btn-primary">
              </div>
              <div class="form-group d-md-flex">
                <div class="w-50">

                </div>

              </div>
              @*</form>*@
            }
          </div>
        </div>

      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js"
          data-cf-beacon='{"rayId":"66d131a669e30d4e","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.6.0","si":10}'></script>
</body>

</html>