@{
  Layout = null;
}
@{
  @model LoginModel
}

<!doctype html>
<html lang="en">


<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="~/css/login.css">
  <!-- Bootstrap CSS -->
</head>


<body class="img js-fullheight" style="background-image:url(/images/illustration.png)">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">

        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <h3 class="mb-4 text-center">Have an account?</h3>
            <form asp-antiforgery="true" method="post" class="signin-form" asp-action="Login" asp-controller="Account" name="login">
              <div asp-validation-summary="All" class="text-danger"></div>
              <div class="form-group">
                <input type="text" asp-for="UserName" class="form-control" name="username" placeholder="Username" autofocus="true" />

              </div>
              <div class="form-group">
                <input type="password" asp-for="Password" class="form-control" name="password" placeholder="Password" />

              </div>
              <div class="form-group">
                <dnt-captcha asp-captcha-generator-max="999999"
                             asp-captcha-generator-min="111111"
                             asp-captcha-generator-language="English"
                             asp-captcha-generator-display-mode="ShowDigits"
                             asp-use-relative-urls="true"
                             asp-placeholder="Enter Captcha"
                             asp-validation-error-message="Please enter the security code."
                             asp-font-name="Tahoma"
                             asp-font-size="20"
                             asp-fore-color="#333333"
                             asp-back-color="#ccc"
                             asp-text-box-class="text-box form-control"
                             asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span></span>{0}"
                             asp-validation-message-class="text-danger"
                             asp-refresh-button-class="fas fa-redo btn-sm"
                             asp-use-noise="false" />

              </div>
              <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">
              </div>
              <div class="form-group d-md-flex">
                <div class="w-50">

                </div>
                <div class="w-50 text-md-right">
                  <a style="color: #fff" asp-action="ForgotPassword" asp-controller="Account" class="forgot-pass">Forgot Password?</a>

                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js"
          data-cf-beacon='{"rayId":"66d131a669e30d4e","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.6.0","si":10}'></script>
</body>

</html>