@{
  Layout = "_MainLayout";
}
@{
  @model LoginModel
}


<div class="container" id="container">

  <div class="form-container sign-in-container">
    <form asp-antiforgery="true" >
     

      <h1 class="login-title">Login</h1>
     

      <input type="hidden" name="fil" />
      @*<p class="link">Don't have an account? <a href="registration.php">Registration Now</a></p>*@

    </form>
  </div>


</div>